@media (min-width: 1130px) and (max-width: 1500px) {
    .about-us {
        position: absolute;
        padding: 5px;
        left: 60%;
        top: 155%;
        transition: 0.40s;
        background-color: #3c2949;
        font-size: 6em;
        color: white;
        opacity: 0;
        box-shadow: 0px 0px 20px black;
    }
    .web-design-box {
        position: absolute;
        overflow: hidden;
        left: 20%;
        top: 135%;
        height: 3em;
        transition: 0.25s;
        opacity: 0;
        background-color: #FF4500;
        padding: 10px;
        box-shadow: 0px 0px 20px black;
    }
    .web-design-box h1 {
        font-size: 3em;
        margin: 0;
        text-align: center;
    }
    .web-design-box p {
        font-weight: bold;
        font-size: 1.25em;
    }
    .web-design-box:hover {
        cursor: pointer;
        position: absolute;
        height: 10em;
        padding: 10px;
        transition: 0.25s;
    }
    .software-development-box {
        position: absolute;
        left: 12%;
        top: 170%;
        overflow: hidden;
        height: 3em;
        padding: 10px;
        background-color: #FF4500;
        transition: 0.30s;
        opacity: 0;
        box-shadow: 0px 0px 20px black;
    }
    .software-development-box h1 {
        font-size: 3em;
        margin: 0;
        text-align: center;
    }
    .software-development-box>pre {
        font-weight: bold;
        font-size: 1.25em;
    }
    .software-development-box:hover {
        position: absolute;
        overflow: hidden;
        height: 10em;
        padding: 10px;
        background-color: #FF4500;
        transition: 0.25s;
        box-shadow: 0px 0px 20px black;
    }
    .high-quality-team-box {
        position: absolute;
        left: 20%;
        top: 200%;
        overflow: hidden;
        height: 3em;
        padding: 10px;
        background-color: #FF4500;
        transition: 0.35s;
        opacity: 1;
        box-shadow: 0px 0px 20px black;
    }
    .high-quality-team-box>h1 {
        font-size: 3em;
        margin: 0;
        text-align: center;
    }
    .high-quality-team-box>pre {
        font-weight: bold;
        font-size: 1.25em;
    }
    .high-quality-team-box:hover {
        cursor: pointer;
        position: absolute;
        height: 9em;
        padding: 10px;
        transition: 0.25s;
        opacity: 1;
    }
}

@media (min-width: 800px) and (max-width: 1127px) {
    .about-us {
        position: absolute;
        padding: 5px;
        left: 60%;
        top: 190%;
        transition: 0.40s;
        background-color: #3c2949;
        font-size: 5em;
        color: white;
        opacity: 0;
        box-shadow: 0px 0px 20px black;
    }
    .web-design-box {
        position: absolute;
        overflow: hidden;
        left: 20%;
        top: 175%;
        height: 2em;
        width: 350px;
        transition: 0.25s;
        opacity: 0;
        background-color: #FF4500;
        padding: 10px;
        box-shadow: 0px 0px 20px black;
    }
    .web-design-box h1 {
        font-size: 2em;
        margin: 0;
        text-align: center;
    }
    .web-design-box p {
        font-weight: bold;
        font-size: 0.75em;
    }
    .web-design-box:hover {
        cursor: pointer;
        position: absolute;
        height: 7em;
        transition: 0.25s;
    }
    .software-development-box {
        position: absolute;
        left: 15%;
        top: 200%;
        overflow: hidden;
        height: 2em;
        width: 350px;
        padding: 10px;
        background-color: #FF4500;
        transition: 0.30s;
        opacity: 0;
        box-shadow: 0px 0px 20px black;
    }
    .software-development-box h1 {
        font-size: 2em;
        margin: 0;
        text-align: center;
    }
    .software-development-box p {
        font-weight: bold;
        font-size: 0.75em;
    }
    .software-development-box:hover {
        position: absolute;
        overflow: hidden;
        height: 7em;
        background-color: #FF4500;
        transition: 0.25s;
        box-shadow: 0px 0px 20px black;
    }
    .high-quality-team-box {
        position: absolute;
        left: 20%;
        top: 225%;
        overflow: hidden;
        height: 2em;
        width: 350px;
        padding: 10px;
        background-color: #FF4500;
        transition: 0.35s;
        opacity: 1;
        box-shadow: 0px 0px 20px black;
    }
    .high-quality-team-box h1 {
        font-size: 2em;
        margin: 0;
        text-align: center;
    }
    .high-quality-team-box p {
        font-weight: bold;
        font-size: 0.75em;
    }
    .high-quality-team-box:hover {
        cursor: pointer;
        position: absolute;
        height: 6.5em;
        padding: 10px;
        transition: 0.25s;
        opacity: 1;
    }
}