html, body {
    background: #e3e8eb;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-family: GTWalsheim,Arial,sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.jumbotron {
    position: relative;
    background: url(../images/svgs/about-us-page-header.svg);
    background-size: cover;
    height: 800px;
    width: 100%;
}

.title {
    position: absolute;
    top: 15%;
    left: 30%;
    font-size: 5.2rem;
    color: white;
}
.sub-content {
    position: absolute;
    top: 35%;
    left: 40%;
    font-size: 1.8rem;
    color: white;
}
.fade-out {
    position: absolute;
    background: linear-gradient(to top, #e3e8eb, rgba(0, 0, 0, 0));
    bottom: 0;
    height: 30%;
    width: 100%;
    z-index: 2;
}

.rocket-container {
    position: absolute;
    height: 20%;
    width: 20%;
    bottom: 20%;
    right: 0;
    z-index: 2;
}

.rocket-container .rocket {
    position: absolute;
    height: 90%;
    width: 90%;
    bottom: 15%;
    right: 0;
    z-index: 2;
    animation: rocketMove 5s linear alternate 4;
}

.rocket-container svg {
    position: absolute;
    bottom: -20%;
    right: -10%;
    animation: rocketShake .1s linear alternate 4;
}

.smoke1 {
    transform: scale(0);
    opacity: 0;
    animation: smoke 2s 1s 4;
    transform-origin: center;
    transform-box: fill-box;
    animation-delay: .8s;
    animation-duration: 1.5s;
}
.smoke2 {
    transform: scale(0);
    opacity: 0;
    animation: smoke 2s 1s 4;
    transform-origin: center;
    transform-box: fill-box;
    animation-delay: .5s;
    animation-duration: 1.5s;
}
.about-us__summary {
    padding: 10em 0;
    text-align: center;
    color: #051628;
}

.how-we-work {
    background-color: #f8ce6a;
    margin: 0 auto;
    margin-bottom: 10rem;
    height: 500px;
    width: 100%;
    border-radius: 5px;
    font-size: medium;
}

.how-we-work__heading {
    text-align: center;
    background-color: white;
    padding: 15px;
}

.how-we-work__heading h1 {
    font-size: 3.5em;
    margin: 0;
}

.how-we-work ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.how-we-work ul li {
    width: 25%;
    margin: 0 50px;
    margin-top: 25px;
}


.how-we-work__constant-improvement {
    height: 75%;
    width: 100%;
    padding: 30px;
    background-color: white;
    transform: rotate(2.5deg);
    transition: 0.5s;
}

.how-we-work__constant-improvement:hover {
    transform: rotate(0deg);
}

.how-we-work__picture {
    width: 100%;
    max-width: 100%;
    height: 40%;
}

.how-we-work__caption {
    font-size: 16px;
    text-align: left;
    line-height: 1.5;
    margin-top: 2.5rem;
}

.how-we-work__constant-improvement__title {
    font-size: 2.0rem;
    line-height: 1.28;
}

.how-we-work__constant-improvement__description {
    font-size: 1.15rem;
    text-align: center;
}

.how-we-work__never-stop-learning {
    height: 75%;
    width: 100%;
    padding: 30px;
    background-color: white;
    transform: rotate(-2.5deg);
    transition: 0.5s;
}

.how-we-work__never-stop-learning:hover {
    transform: rotate(0deg);
}

.how-we-work__title {
    font-size: 2.0rem;
    line-height: 1.28;
    text-align: center;
}

.how-we-work__never-stop-learning__description {
    font-size: 1.15rem;
    text-align: center;
}

.how-we-work__strong-teamwork {
    height: 75%;
    width: 100%;
    padding: 30px;
    background-color: white;
    transform: rotate(-1.5deg);
    transition: 0.5s;
}

.how-we-work__strong-teamwork:hover {
    transform: rotate(0deg);
}

@keyframes smoke {
    30% {
        transform: scale(2);
        opacity: 1;
    }
    31% {
        opacity: 0.5;
    }
}

@keyframes rocketMove {
    50% { transform: translateY(-15%); }
    70% { transform: translateY(0); }
    80% { transform: translateY(2%); }
}

@keyframes rocketShake {
    from { transform: rotate(-.5deg); }
    to { transform: rotate(.5deg); }
}