/* ============================================================================================== 
SED Innovations
https://sed.am
https://mkrtchyan.ga
================================================================================================= */

* {
    margin: 0;
    padding: 0;
    font-family: Circularpro, sans-serif;
}

html, body {
    overflow-x: hidden;
    overflow-y: hidden;
}

header {
    background-color: rgba(33, 33, 33, 0.9);
    color: #ffffff;
    display: block;
    font: 14px/1.3 Arial, sans-serif;
    height: 50px;
    position: relative;
    z-index: 5;
}

h2 {
    margin-top: 30px;
    text-align: center;
}

header h2 {
    font-size: 22px;
    margin: 0 auto;
    padding: 10px 0;
    width: 80%;
    text-align: center;
}

header a, a:visited {
    text-decoration: none;
    color: #fcfcfc;
}

@keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@-webkit-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@-moz-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@-ms-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 10000px 0;
    }
}

@-webkit-keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 10000px 0;
    }
}

@-moz-keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 10000px 0;
    }
}

@-ms-keyframes move-clouds-back {
    from {
        background-position: 0;
    }
    to {
        background-position: 10000px 0;
    }
}

.stars, .twinkling, .clouds {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.stars {
    background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
    z-index: 0;
}

.twinkling {
    background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
    z-index: 1;
    -moz-animation: move-twink-back 200s linear infinite;
    -ms-animation: move-twink-back 200s linear infinite;
    -o-animation: move-twink-back 200s linear infinite;
    -webkit-animation: move-twink-back 200s linear infinite;
    animation: move-twink-back 200s linear infinite;
}

main {
    position: absolute;
    z-index: 2;
    background: rgba(33, 33, 33, 0.0);
    width: 100%;
    height: 100%;
}

.forest {
    position: absolute;
    width: 25%;
    background: url(../images/svgs/forest-background.svg);
    z-index: 2;
    display: none;
    height: 100%;
    background-size: cover;
}

div.premier {
    position: absolute;
    background: url(../images/premierpool.png);
    background-size: cover;
    left: 25%;
    width: 25%;
    height: 100%;
    display: none;
    z-index: 2;
}

.tacos {
    position: absolute;
    background-size: cover;
    left: 50%;
    width: 25%;
    height: 100%;
    text-align: center;
}

.bemi {
    position: absolute;
    background-size: cover;
    left: 75%;
    width: 25%;
    height: 100%;
    text-align: center;
}

.portfolio {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 6%;
    font-size: 2em;
    z-index: 3;
    color: white;
}

span.premier {
    position: absolute;
    text-align: center;
    z-index: 3;
    top: 50%;
    left: 32%;
    font-size: 2em;
    color: white;
}
span.tacos {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    font-size: 2em;
    color: white;
}

span.bemi {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 75%;
    font-size: 2em;
    color: white;
}

.pointer:hover {
    cursor: pointer;
}

/* .forest:hover {
    background: url(../images/svgs/forest-background.svg);
    background-size: cover;
    transition: 0.75s;
} */