.slide-north {
    transform: translate(0%, -1000px);
    opacity: 0;
}

.slide-north-in {
    transform: translate(0%, -1000px);
    opacity: 1;
}

.slide-south {
    transform: translate(0, 1000px);
    transition: 2s;
    /* opacity: 0; */
}

.slide-northeast {
    transform: translate(100px, -500px);
    opacity: 0;
}

.slide-east {
    transform: translate(1000px, 0%);
    opacity: 0;
}

.slide-east-in {
    transform: translate(100%, 0%);
    opacity: 1 !important;
}

.slide-west-in {
    transform: translate(-125%, 0%);
    opacity: 1 !important;
}